.auth-container {
    display: flex;
    background: -webkit-linear-gradient(to top, #16222A , #018fd6);
    background: linear-gradient(to top, #16222A , #018fd6);
    width: 100%;
    height: 100%;
}

.auth-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;

    .title1 {
        font-size: 121px;
    }

    .title2 {
        font-size: 40px;
    }

    .message {
        color: white;
        font-size: 25px;
    }
}